<header class="header">
  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="#">High-School Diploma 2017</a>
      <span class="remaining-credits"><span class="icon alert">14</span>Credits Left!</span>
      <div class="progress-contain">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
            <span class="sr-only">50% Complete</span>
          </div>
        </div>
        <div class="progress-indicator">
          <strong>14</strong> / 30
        </div>
      </div>
    </div><!-- /.container -->
  </nav>
</header>
