---
title: XelloCode
---
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <div class="panel credit-panel panel-active">
        <div class="panel-heading">
          <h4>YEAR 9 (next year)</h4>
          <p>0 credits earned</p>
        </div>
        <div class="panel-body">
          <ul class="course-slots">
            <li class="filled-course">
              <a href="#">
                English
                <span><strong>ENG1P1</strong> | English 9</span>
                <span class="course-actions">
                  1 cr.
                </span>
              </a>
            </li>
            <li class="filled-course">
              <a href="javascript:void(0);" data-toggle="popover" data-container="false" data-placement="top" data-content="This course requires a Pre-Requsite<br/><a href='#'>Add One</a>">
                Functions
                <span><strong>MAT1U1</strong> | Math 9</span>
                <span class="course-actions">
                  1 cr.
                  <i class="icon alert">!</i>
                </span>
              </a>
            </li>
            <li class="add-course">
              <a href="#">
                Add Science 9
                <span>1 cr.</span>
              </a>
            </li>
            <li class="add-course">
              <a href="#">
                Add Geography
                <span>1 cr.</span>
              </a>
            </li>
            <li class="add-course">
              <a href="#">
                Add French
                <span>1 cr.</span>
              </a>
            </li>
            <li class="add-course">
              <a href="#">
                Add Elective
                <span>16 credits remaining</span>
              </a>
            </li>
            <li>Available Slot</li>
            <li>Available Slot</li>
          </ul>
        </div>
        <div class="panel-footer">
          <a href="#" class="btn btn-primary">Ready to Submit</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="panel credit-panel">
        <div class="panel-heading">
          <h4>YEAR 10</h4>
          <p>0 credits earned</p>
        </div>
        <div class="panel-body">
          <ul class="course-slots">
            <li>Available Slot</li>
            <li>Available Slot</li>
            <li>Available Slot</li>
            <li>Available Slot</li>
            <li>Available Slot</li>
            <li>Available Slot</li>
            <li>Available Slot</li>
            <li>Available Slot</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="panel credit-panel">
        <div class="panel-heading">
          <h4>YEAR 11</h4>
          <p>0 credits earned</p>
        </div>
        <div class="panel-body">
          <ul class="course-slots">
            <li>Available Slot</li>
            <li>Available Slot</li>
            <li>Available Slot</li>
            <li>Available Slot</li>
            <li>Available Slot</li>
            <li>Available Slot</li>
            <li>Available Slot</li>
            <li>Available Slot</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="panel credit-panel">
        <div class="panel-heading">
          <h4>YEAR 12</h4>
          <p>0 credits earned</p>
        </div>
        <div class="panel-body">
          <ul class="course-slots">
            <li>Available Slot</li>
            <li>Available Slot</li>
            <li>Available Slot</li>
            <li>Available Slot</li>
            <li>Available Slot</li>
            <li>Available Slot</li>
            <li>Available Slot</li>
            <li>Available Slot</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
